@media (max-width: 1280px){
.wrap-cat-icon8 .wrap-list-cat-icon{margin-top:0;opacity:1;visibility:visible;}
.banner-slider8{margin:0 -53px 0 -38px;}
.content-top-center19 .banner-slider.banner-slider9{margin:0;}
}
@media (max-width: 1200px){
.category-box1{width:100%;padding-left:256px;}
.banner-box1{padding-right:0;width:100%;}
.content-box1 .banner-box{max-width:256px;}
}
@media (max-width: 1199px){
.wrap-cat-icon9{margin-right:-40px;}
.banner-slider.banner-slider9{margin:0 0 0 40px;}
.deal-banner9{margin-left:0;margin-top:30px;}
.wrap-cat-icon9 .wrap-list-cat-icon{position:static;}
.banner-slider8{margin:0 -53px 0 0;}
.wrap-cat-icon8 .wrap-list-cat-icon{margin-top:30px;opacity:0;visibility:hidden;}
.content-top-center19 .banner-slider.banner-slider9{margin:0;}
.content-top-left19 .deal-banner9{margin-right:0;}
.content-top-center19 > div{margin-left:0;}
.content-top-left19{margin-bottom:30px;}
}
@media (max-width: 1024px){
.smart-slider:not(.owl-carousel)[data-item="6"] > div,
.smart-slider:not(.owl-carousel)[data-item="5"] > div{width:25%;}
.content-top-right4 > div{margin-left:17.5px;}
.content-top-left4 > div{margin-right:-48px;}
.flagship-info>p{display:none;}
.list-cat-icon>li>a{padding:8px 10px 8px 40px;}
.wrap-search1{margin-left:0;}
.wrap-search1 > div{margin-left:0;}
.betpro3 .item-product3 .product-price > span:first-child{margin-top:19px;}
.banner-slider5{margin-left:-60px;}
.bncat-slider5{margin-right:30px;}
.bncat-thumb5{margin-bottom:2px;}
.item-trend5 .hoz-item .product-price > span:first-child{margin-top:19px;display:inline-block;}
.wrap-search-cart6{width:75%;}
.wrap-search-cart6 .wpb_wrapper>div{margin-left:0;}
.category-box7 .product-title a{}
.widget-recent-post .post-thumb{width:60px;}
.widget-recent-post .post-title{width:76%;}
.brand-side-thumb{width:70px;}
.main-shop-load .product-title a{}
.main-shop-load .product-price ins,
.main-shop-load .product-price>span{font-size:16px;}
.item-pro-seller .product-thumb, .widget-recent-post .widget-content>ul>li>.post-thumb,
.item-pro-seller .product-thumb-link{width:70px;}
.select-box select{max-width:120px;}
.col-sm-8 .product-list-item-item-pro-ajax .list-4-item{width:33.33%;}
.product-list-item-item-pro-ajax .list-5-item{width:25%;}
.list-10-item,
.list-9-item{width:12.5%;}
.hoz-item .product-price > span.slipt{display:inline-block;}
.cart-social > div{margin-left:20px;}
.main-header10 .logo{margin-right:40px;}
.smart-search11 .smart-search-form input[type=submit]{width:55px;}
.banner-slider.banner-slider12{margin:0 10px 0 35px;}
.top-right13 > div{margin-left:-50px;}
.item-product15 .product-extra-link5 > a.addcart-link{padding:0 10px;}
.list-slider16 > div{margin:0 0 0 48px;}
.list-adv16{padding:0 25px;}
.list-adv16 > div{margin-left:0;}
.content-top-right19 > div{margin-left:9px;}
}
@media (max-width: 991px){
.smart-slider:not(.owl-carousel)[data-item="4"] > div,
.smart-slider:not(.owl-carousel)[data-item="6"] > div,
.smart-slider:not(.owl-carousel)[data-item="5"] > div{width:33.33%;}
.content-top-left4 > div{margin-right:0;margin-bottom:30px;}
.banner-thumb img{width:100%;}
.content-top-right4 > div{margin:0 -15px;}
.content-top-right4 .item-adv{float:left;width:50%;padding:0 15px;}
.list-flagship-box::before{width:0;}
.flagship-info>p{display:block;}
.list-5-item{width:25%;}
.col-sm-8 .list-4-item:nth-child(4n+1){clear:inherit;}
.col-sm-8 .list-4-item:nth-child(3n+1){clear:both;}
.col-sm-8 .list-4-item{width:33.33%;}
.col-sm-8 .product-list-item-item-pro-ajax .list-4-item{width:50%;}
.col-sm-8 .list-3-item{width:50%;}
.smart-search.smart-search2{margin-right:25px;}
.small-box .list-col-item:first-child{border-bottom:0;}
.small-box .list-col-item:last-child .item-product{border-right:0;}
.product-tab-ajax .item-product-ajax:first-child{display:block;}
.today-deal3 .banner-zoom{margin-left:-14px;}
.banner-slider5{margin-left:0;}
.bncat-slider5{margin-right:0;}
.item-morecat5 .product-thumb{width:180px;}
.cat-mega-menu.cat-mega-style2{width:610px;}
.list-none.nav-footer6{margin-top:0;}
.service-sale7 .col-sm-12 > .vc_column-inner > .wpb_wrapper{padding:0;}
.item-trend5 .ver-item{padding:30px 100px 20px;}
.mobile-phone9>span{padding:0 20px;}
.blog-wrap-large .post-format-date{bottom:0px;left:0;}
.blog-wrap-large .item-post-large .post-info{padding-left:0;}
.select-box select{max-width:100px;}
.main-shop-load .large-product>div{width:100%;}
.large-product .product-info{padding-top:15px;}
.list-7-item:nth-child(7n+1),
.list-8-item:nth-child(8n+1),
.list-9-item:nth-child(9n+1),
.list-10-item:nth-child(10n+1){clear:inherit;}
.list-7-item:nth-child(6n+1),
.list-8-item:nth-child(6n+1),
.list-9-item:nth-child(6n+1),
.list-10-item:nth-child(6n+1){clear:both;}
.list-10-item,
.list-9-item,
.list-8-item,
.list-7-item{width:16.66666667%;}
.banner-box .vc_single_image-wrapper,
.banner-box .vc_single_image-wrapper img,
.banner-box .vc_figure{width:100%;}
.main-header10 .logo{text-align:center;margin:0;}
.banner-slider.banner-slider12{margin:0;}
.top-right13 .wpb_text_column.currency-language{margin-top:-25px;padding-bottom:10px;}
.list-adv15 > div{margin:0 10px -10px 10px;}
.list-slider16 > div{margin:0;}
.menu-top17{float:right;padding-bottom:10px;margin-top:15px;}
.main-header17 .logo{margin-top:15px;}
}
@media (max-width: 840px){
.select-category .category-toggle-link::after{margin-left:6px;}
.col-sm-8 .list-4-item:nth-child(3n+1){clear:inherit;}
.col-sm-8 .list-4-item:nth-child(2n+1){clear:both;}
.col-sm-8 .list-4-item{width:50%;}
.product-list-item-tab-large-item .list-4-item:nth-child(4n+1),
.list-4-item:nth-child(4n+1){clear:inherit;}
.product-list-item-tab-large-item .list-4-item:nth-child(3n+1),
.list-4-item:nth-child(3n+1){clear:both;}
.list-4-item,
.product-list-item-tab-large-item .list-4-item{width:33.33%;}
.product-list-item-item-pro-ajax .list-5-item{width:33.33%;}
.search-login10 > div{margin-left:-30px;}
.main-header12 .wrap-search1{margin-right:-40px;}
.contact-link17 .col-sm-6{width:100%;}
.blog-style-grid .item-post-masonry{width:33.33%;}
.col-md-9 .blog-style-grid .item-post-masonry{width:50%;}
}
@media (max-width: 768px){
.content-top-right19 > div{margin-left:3px;}
.list-4-item:nth-child(4n+1),
.list-5-item:nth-child(5n+1),
.list-6-item:nth-child(6n+1),
.list-7-item:nth-child(6n+1),
.list-8-item:nth-child(6n+1),
.list-9-item:nth-child(6n+1),
.list-10-item:nth-child(6n+1){clear:inherit;}
.list-4-item:nth-child(3n+1),
.list-5-item:nth-child(3n+1),
.list-6-item:nth-child(4n+1),
.list-7-item:nth-child(4n+1),
.list-8-item:nth-child(5n+1),
.list-9-item:nth-child(5n+1),
.list-10-item:nth-child(5n+1){clear:both;}
.list-10-item,
.list-9-item,
.list-8-item{width:20%;}
.list-7-item,
.list-6-item{width:25%;}
.list-4-item,
.list-5-item{width:33.3333%;}
.item-deal3 .item-product3 .product-thumb{width:80px;}
.cat-mega-menu.cat-mega-style2{width:538px;}
.main-nav>ul>li{margin-right:25px;}
.title-tabpro5 .list-none li a{padding:0 20px;}
.title-cat-icon::after{right:10px;}
.item-trend5 .ver-item{padding:30px 70px 20px;}
.item-trend5 .hoz-item .product-thumb{width:125px;}
.main-nav.main-nav16>ul>li{margin-right:22px;}
.social-header.social-header16 > a{margin-left:8px;}
}
@media (max-width: 767px){
.smart-slider:not(.owl-carousel)[data-item="3"] > div,
.smart-slider:not(.owl-carousel)[data-item="4"] > div,
.smart-slider:not(.owl-carousel)[data-item="6"] > div,
.smart-slider:not(.owl-carousel)[data-item="5"] > div{width:50%;}
.main-header .logo{margin-top:0;text-align:center;margin-bottom:15px;}
.product-tab-ajax .btn-loadmore{margin-top:25px;}
.main-header8 .logo,
.main-header1 .logo,
.main-header2 .logo{text-align:center;margin-bottom:20px;}
.smart-search.smart-search2{margin-right:55px;}
.cart-social > div{margin-left:0;}
.product-box2 .title-box1 .list-none{margin-top:0;margin-bottom:10px;}
.wrap-search1 > div{margin-right:0;}
.header-nav3{margin-top:0;}
.wrap-cart3{transform:translate(0);-webkit-transform:translate(0);}
.content-left3 > div{margin-right:0;}
.today-deal3 .banner-zoom{margin-left:0;}
.main-header5 .check-cart{float:right;}
.main-nav.main-nav5{margin-top:-50px;}
.header-nav5{padding-top:0;}
.list-adv6,
.list-banner-adv5{margin-bottom:20px;}
.trending-box6,
.hot-trending6,
.product-box6,
.hot-category6 .wpb_column >div,
.product-tab5{margin-bottom:30px;}
.latest-news6,
.banner-image6{padding-bottom:30px;}
.trending5{padding-bottom:0;margin-bottom:30px;}
.hot-cat-slider,
.product-tab-ajax,
.flagship-store,
.wrap-box,
.category-color.category-color5,
.category-color5 .wpb_column > div,
.content-top4{margin-bottom:30px;}
.list-adv-color4{margin-bottom:0;}
.item-morecat5 .product-thumb{width:120px;}
.main-header5 .check-cart4 .mini-cart-content{right:0;left:auto;}
.main-header6 .logo{text-align:center;margin-bottom:15px;}
.wrap-search-cart6{width:100%;}
.wrap-search-cart6 .call-phone-number{display:none !important;}
.list-none.nav-footer6{margin-top:20px;}
.main-nav.main-nav8>ul{padding-left:0;}
.smart-search.search-form9{border:0;margin-top:-13px;}
.search-form9 .submit-form{position:static;}
.header-nav9{margin-top:0;}
.wrap-cat-icon9 .wrap-list-cat-icon{position:static;width:100%;}
.wrap-cat-icon9{margin-right:0;margin-bottom:30px;}
.banner-slider.banner-slider9{margin:0;}
.mini-cart1.mini-cart3 .mini-cart-content{right:0px;left:auto;}
.widget-recent-post .post-thumb{width:70px;display:table-cell;}
.widget-slide-banner .banner-image{text-align:center;}
.widget-slide-banner .banner-image a{display:inline-block;}
.item-post-small .col-xs-12{width:50%;}
.content-blog-large,
.content-blog-content,
.content-blog-small{padding:20px 20px 0;}
.menu-hidden{display:block;}
.menu-hidden .col-sm-3{display:none;}
.menu-hidden1 .main-nav{margin-top:-59px;}
.main-header1 .cart-social .social-header{margin-right:50px;}
.search-login10 > div{margin:0;text-align:center;width:100%;}
.smart-search.smart-search11{margin-top:20px;margin-bottom:20px;}
.main-nav.main-nav11{margin-top:-70px;}
.main-content11 >div{margin-right:0;}
.sidebar11 > div{margin-left:0;}
.main-header11 .logo{text-align:center;}
.main-header12 .wrap-search1{margin-right:0;}
.main-header12 .social-header{display:none;}
.header-nav9.header-nav12{margin-top:20px;}
.main-nav.main-nav12{margin-top:-55px;}
.main-header13{padding:15px 0 35px;}
.top-right13 .mini-cart1 .mini-cart-content{right:0;left:auto;}
.list-adv14 .item-banner14{float:left;width:50%;}
.list-adv14 .wpb_column:nth-child(2n){margin-top:0;}
.list-adv14 .wpb_column > div{margin:0;}
.mini-cart1.mini-cart3 .mini-cart-link .mini-cart-number{overflow:hidden;}
.main-header16 .logo{text-align:center;margin-bottom:20px;}
.nav-social16 > div{border:0;margin-bottom:0;}
.main-header17 .logo{margin-top:5px;text-align:center;}
.wrap-search-cart17 > div{padding-right:0;}
.list-banner17 .col-sm-4{width:33.33%;float:left;}
.menu-hidden1 .main-nav18{margin-top:-50px;}
.banner-left18 > div{margin-right:0;}
.banner-right18 > div{margin-left:0;}
.content-top18{position:relative;}
.banner-left18{position:absolute;right:0;bottom:-20px;}
.content-top-left19 .deal-banner9{margin-top:0;}
.content-top-center19 > div{margin-right:0;}
.content-top-right19 > div{margin-left:0;margin-top:12px;}
.content-top-right19 .item-adv{float:left;width:50%;}
}
@media (max-width: 667px){
.blog-style-grid .item-post-masonry{width:50%;}
.slider-cat-color{width:70.5%;}
.banner-cat-color{width:29.5%;}
.item-trend5 .ver-item{padding:30px 50px 20px;}
.item-trend5 .hoz-item .product-thumb{width:125px;}
.blog-wrap-large .post-format-date{bottom:auto;top:0;}
.product-list-item-tab-large-item .list-4-item{width:50%;}
.product-list-item-tab-large-item .list-4-item:nth-child(3n+1),
.list-3-item:nth-child(3n+1),
.list-4-item:nth-child(3n+1),
.list-5-item:nth-child(3n+1),
.list-6-item:nth-child(4n+1),
.list-7-item:nth-child(4n+1),
.list-8-item:nth-child(5n+1),
.list-9-item:nth-child(5n+1),
.list-10-item:nth-child(5n+1){clear:inherit;}
.product-list-item-tab-large-item .list-4-item:nth-child(2n+1),
.list-3-item:nth-child(2n+1),
.list-4-item:nth-child(2n+1),
.list-5-item:nth-child(2n+1),
.list-6-item:nth-child(3n+1),
.list-7-item:nth-child(3n+1),
.list-8-item:nth-child(3n+1),
.list-9-item:nth-child(3n+1),
.list-10-item:nth-child(3n+1){clear:both;}
.list-10-item,
.list-9-item,
.list-8-item{width:33.33%;}
.list-7-item,
.list-6-item{width:33.33%;}
.list-3-item{width:50%;}
.list-banner17 .col-sm-4{width:100%;}
.window-popup{width:500px;}
}
@media (max-width: 568px){
.list-cat-icon>li>a, .product-title a{}
.product-price>span,
.product-price ins{font-size:16px;}
.item-trend5 .ver-item{padding:30px 125px 20px;}
.item-trend5{border-right:0;}
.item-post-small .col-xs-12:first-child{width:30%;}
.item-post-small .col-xs-12{width:70%;}
.comment-list ul.children{padding-left:0;}
.item-comment{padding:15px;}
.product-list-item-item-pro-ajax .list-5-item{width:50%;}
.top-right13{margin-top:-80px;}
.header-nav13 .main-nav.main-nav9{margin-top:-55px;}
.main-header13 .logo{margin-top:10px;}
.header-top18 .logo{margin:15px 0 20px;}
.product-box18 > .title30 > span{min-width:290px;}
.window-popup{width:360px;}
.list-5-item,
.list-4-item{width:50%;}
.blog-style-grid .item-post-masonry ,
.col-md-9 .blog-style-grid .item-post-masonry{width:100%;}
}
@media (max-width: 480px){
.list-6-item:nth-child(3n+1),
.list-7-item:nth-child(3n+1),
.list-8-item:nth-child(3n+1),
.list-9-item:nth-child(3n+1),
.list-10-item:nth-child(3n+1){clear:inherit;}
.list-6-item:nth-child(2n+1),
.list-7-item:nth-child(2n+1),
.list-8-item:nth-child(2n+1),
.list-9-item:nth-child(2n+1),
.list-10-item:nth-child(2n+1){clear:both;}
.list-10-item,
.list-9-item,
.list-8-item,
.list-7-item,
.list-6-item,
.list-5-item,
.list-4-item,
.list-3-item{width:50%;}
.product-list-item-tab-large-item .list-3-item{width:100%;}
.adv-cat-color, .banner-cat-color, .slider-cat-color{width:100%;}
.category-box1{position:absolute;}
.item-product1:first-child{border-bottom:none;border-right:1px solid #e5e5e5;}
.justify-box1>div, .left-box1>div, .main-box1 .main-product1 .product-info, .main-box1 .main-product1 .product-thumb, .right-box1>div{width:50%;}
.banner-slider3 .banner-info,
.banner-slider1 .banner-info{display:none;}
.smart-search3 .smart-search-form input[type=text]{right:-12px;top:0;width:250px !important;}
.item-trend5 .ver-item{padding:30px 100px 20px;}
.item-chose7{width:100%;border-bottom:1px solid rgba(255,255,255,.2);margin-bottom:15px;}
.item-chose7 ul{display:block;text-align:left;width:100% !important;}
.item-chose7 ul li{display:table-cell;text-align:left;}
.item-chose7 ul li:first-child{width:90px !important;}
.list-choise7>li{padding:0 !important;}
.item-trend5 .hoz-item .product-thumb{width:100px;}
.content-product-box9 .item-product9, .content-product-box9 .small-banner9{border-bottom:0;}
.item-post-small .col-xs-12:first-child,
.item-post-small .col-xs-12{width:100%;}
.content-single .item-post-small .post-thumb{margin-bottom:20px;}
.item-comment .author-avatar{width:70px;}
.accordion-detail .detail-info .product-price{white-space:normal;}
.product-extra-link4>a.product_type_grouped{padding:10px 8px;}
.item-product-type10 .item-product10{padding:20px 10px 10px;}
}
@media (max-width: 414px){
.item-trend5 .ver-item{padding:30px 50px 20px;}
.item-deal3.pro-pop6 .item-product3 .product-thumb{width:120px;}
.col-sm-8 .product-list-item-item-pro-ajax .list-4-item{width:100%;}
.product-list-item-tab-large-item .list-4-item{width:100%;}
.product-list-item-item-pro-ajax .list-5-item{width:100%;}
.main-single .post-format-date{margin-right:0;width:100%;display:block;margin-bottom:30px;}
.item-product-type10 .item-product10{padding:20px 20px 10px;}
.search-login10 .wpb_wrapper > div.login10{display:none;}
.main-header10 .logo img{max-width:150px;}
.main-header10{padding-bottom:15px;padding-top:15px;}
.main-nav.main-nav10{margin-top:-34px;}
.mini-cart-box.mini-cart10{margin-top:-41px;}
.top-right13 .mini-cart1 .mini-cart-link .mini-cart-number{display:none;}
.top-right13 .mini-cart1 .mini-cart-icon::after{display:none;}
.mini-cart1.mini-cart3 .mini-cart-icon::after,
.mini-cart1.mini-cart3 .mini-cart-link .mini-cart-number{display:none;}
}
@media (max-width: 360px){
.content-top-right4 .item-adv{width:100%;}
.item-product1:first-child{border-right:none;border-bottom:1px solid #e5e5e5;}
.justify-box1>div, .left-box1>div, .main-box1 .main-product1 .product-info, .main-box1 .main-product1 .product-thumb, .right-box1>div{width:100%;}
.category-box1{padding-left:165px;}
.content-box1 .banner-box{max-width:165px;}
.category-box1 .list-none li a{padding:6px 10px;}
.info-banner-box1{padding:0 15px;}
.list-5-item,
.list-4-item,
.list-3-item,
.list-2-item,
.col-sm-8 .list-4-item{width:100%;}
.window-popup{width:280px;}
}
@media (max-width: 320px){
.list-7-item,
.list-6-item{
width: 100%;
}
.account-login a{
padding: 0 10px;
}
.item-trend5 .ver-item {
padding: 30px 30px 20px;
}
.item-deal3.pro-pop6 .item-product3 .product-thumb {
width: 80px;
}
.service2.service7 .list-none>li{
display: block;
padding: 10px 5px;
}
.widget-recent-post .post-title {
width: 98%;
}
.list-adv14 .item-banner14{
width: 100%;
}
}.mc4wp-form input[name^="_mc4wp_honey"]{display:none!important}
.mc4wp-form-basic,.mc4wp-form-theme{margin:1em 0}
.mc4wp-form-basic,.mc4wp-form-basic input,.mc4wp-form-basic label,.mc4wp-form-theme,.mc4wp-form-theme input,.mc4wp-form-theme label{width:auto;display:block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;cursor:auto;height:auto;vertical-align:baseline;line-height:normal}
.mc4wp-form-basic:after,.mc4wp-form-theme:after{content:"";display:table;clear:both}
.mc4wp-form-basic label,.mc4wp-form-theme label{font-weight:700;margin-bottom:6px;display:block}
.mc4wp-form-basic input.placeholdersjs,.mc4wp-form-theme input.placeholdersjs{color:#aaa!important}
.mc4wp-form-basic input[type=text],.mc4wp-form-basic input[type=email],.mc4wp-form-basic input[type=tel],.mc4wp-form-basic input[type=url],.mc4wp-form-basic input[type=date],.mc4wp-form-basic select,.mc4wp-form-basic textarea,.mc4wp-form-theme input[type=text],.mc4wp-form-theme input[type=email],.mc4wp-form-theme input[type=tel],.mc4wp-form-theme input[type=url],.mc4wp-form-theme input[type=date],.mc4wp-form-theme select,.mc4wp-form-theme textarea{min-height:32px;width:100%;max-width:480px}
.mc4wp-form-basic input[type=number],.mc4wp-form-theme input[type=number]{min-width:40px}
.mc4wp-form-basic input[type=checkbox],.mc4wp-form-basic input[type=radio],.mc4wp-form-theme input[type=checkbox],.mc4wp-form-theme input[type=radio]{position:relative;margin:0 6px 0 0;padding:0;height:13px;width:13px;display:inline-block;border:0}
.mc4wp-form-basic input[type=checkbox],.mc4wp-form-theme input[type=checkbox]{-webkit-appearance:checkbox;-moz-appearance:checkbox;appearance:checkbox}
.mc4wp-form-basic input[type=radio],.mc4wp-form-theme input[type=radio]{-webkit-appearance:radio;-moz-appearance:radio;appearance:radio}
.mc4wp-form-basic button,.mc4wp-form-basic input[type=submit],.mc4wp-form-basic input[type=button],.mc4wp-form-theme button,.mc4wp-form-theme input[type=submit],.mc4wp-form-theme input[type=button]{cursor:pointer;display:inline-block;-webkit-appearance:none;-moz-appearance:none;appearance:none}
.mc4wp-form-basic label>span,.mc4wp-form-basic li>label,.mc4wp-form-theme label>span,.mc4wp-form-theme li>label{font-weight:400}
.mc4wp-form-basic .mc4wp-alert,.mc4wp-form-theme .mc4wp-alert{color:#c09853;clear:both}
.mc4wp-form-basic .mc4wp-success,.mc4wp-form-theme .mc4wp-success{color:#468847}
.mc4wp-form-basic .mc4wp-notice,.mc4wp-form-theme .mc4wp-notice{color:#3a87ad}
.mc4wp-form-basic .mc4wp-error,.mc4wp-form-theme .mc4wp-error{color:#CD5C5C}
.rtl .mc4wp-form-reset input[type=checkbox],.rtl .mc4wp-form-reset input[type=radio]{margin:0 0 0 6px}
.mc4wp-form-theme input[type=text],.mc4wp-form-theme input[type=email],.mc4wp-form-theme input[type=tel],.mc4wp-form-theme input[type=url],.mc4wp-form-theme input[type=date],.mc4wp-form-theme input[type=number],.mc4wp-form-theme select,.mc4wp-form-theme textarea{height:auto;padding:8px 16px;line-height:1.428571429;color:#555!important;vertical-align:middle;background:#fff;border:1px solid #ccc;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);text-shadow:none}
.mc4wp-form-theme button:focus,.mc4wp-form-theme input:focus,.mc4wp-form-theme select:focus,.mc4wp-form-theme textarea:focus{outline:0;background-image:none}
.mc4wp-form-theme textarea{height:auto}
.mc4wp-form-theme input[disabled],.mc4wp-form-theme input[readonly]{background-color:#eee}
.mc4wp-form-theme button,.mc4wp-form-theme input[type=submit],.mc4wp-form-theme input[type=button]{display:inline-block;padding:8px 16px;font-weight:400;line-height:1.428571429;text-align:center;white-space:nowrap;vertical-align:middle;cursor:pointer;border:1px solid transparent;border-radius:2px;-webkit-user-select:none;-moz-user-select:none;user-select:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;background:0 0;text-shadow:none;filter:none;height:auto;width:auto}
.mc4wp-form-theme button:focus,.mc4wp-form-theme button:hover,.mc4wp-form-theme input[type=submit]:focus,.mc4wp-form-theme input[type=submit]:hover,.mc4wp-form-theme input[type=button]:focus,.mc4wp-form-theme input[type=button]:hover{outline:0;color:#333;text-decoration:none;background:0 0}
.mc4wp-form-theme-dark button,.mc4wp-form-theme-dark input[type=submit]{color:#fff!important;background-color:#444!important;border-color:#1e1e1e}
.mc4wp-form-theme-dark button:active,.mc4wp-form-theme-dark button:focus,.mc4wp-form-theme-dark button:hover,.mc4wp-form-theme-dark input[type=submit]:active,.mc4wp-form-theme-dark input[type=submit]:focus,.mc4wp-form-theme-dark input[type=submit]:hover{color:#fff!important;background-color:#1e1e1e!important;border-color:#000}
.mc4wp-form-theme-dark input[type=text]:focus,.mc4wp-form-theme-dark input[type=email]:focus,.mc4wp-form-theme-dark input[type=tel]:focus,.mc4wp-form-theme-dark input[type=url]:focus,.mc4wp-form-theme-dark input[type=date]:focus,.mc4wp-form-theme-dark select:focus,.mc4wp-form-theme-dark textarea:focus{border-color:#6a6a6a;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(68,68,68,.15);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(68,68,68,.15);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(68,68,68,.15)}
.mc4wp-form-theme-light button,.mc4wp-form-theme-light input[type=submit]{color:#000!important;background-color:#fff!important;border-color:#d9d9d9}
.mc4wp-form-theme-light button:active,.mc4wp-form-theme-light button:focus,.mc4wp-form-theme-light button:hover,.mc4wp-form-theme-light input[type=submit]:active,.mc4wp-form-theme-light input[type=submit]:focus,.mc4wp-form-theme-light input[type=submit]:hover{color:#000!important;background-color:#d9d9d9!important;border-color:#b3b3b3}
.mc4wp-form-theme-light input[type=text]:focus,.mc4wp-form-theme-light input[type=email]:focus,.mc4wp-form-theme-light input[type=tel]:focus,.mc4wp-form-theme-light input[type=url]:focus,.mc4wp-form-theme-light input[type=date]:focus,.mc4wp-form-theme-light select:focus,.mc4wp-form-theme-light textarea:focus{border-color:#d9d9d9;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,255,255,.15);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,255,255,.15);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,255,255,.15)}
.mc4wp-form-theme-red button,.mc4wp-form-theme-red input[type=submit]{color:#fff!important;background-color:#d9534f!important;border-color:#b52b27}
.mc4wp-form-theme-red button:active,.mc4wp-form-theme-red button:focus,.mc4wp-form-theme-red button:hover,.mc4wp-form-theme-red input[type=submit]:active,.mc4wp-form-theme-red input[type=submit]:focus,.mc4wp-form-theme-red input[type=submit]:hover{color:#fff!important;background-color:#b52b27!important;border-color:#761c19}
.mc4wp-form-theme-red input[type=text]:focus,.mc4wp-form-theme-red input[type=email]:focus,.mc4wp-form-theme-red input[type=tel]:focus,.mc4wp-form-theme-red input[type=url]:focus,.mc4wp-form-theme-red input[type=date]:focus,.mc4wp-form-theme-red select:focus,.mc4wp-form-theme-red textarea:focus{border-color:#e7908e;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(217,83,79,.15);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(217,83,79,.15);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(217,83,79,.15)}
.mc4wp-form-theme-blue button,.mc4wp-form-theme-blue input[type=submit]{color:#fff!important;background-color:#428bca!important;border-color:#2a6496}
.mc4wp-form-theme-blue button:active,.mc4wp-form-theme-blue button:focus,.mc4wp-form-theme-blue button:hover,.mc4wp-form-theme-blue input[type=submit]:active,.mc4wp-form-theme-blue input[type=submit]:focus,.mc4wp-form-theme-blue input[type=submit]:hover{color:#fff!important;background-color:#2a6496!important;border-color:#193c5a}
.mc4wp-form-theme-blue input[type=text]:focus,.mc4wp-form-theme-blue input[type=email]:focus,.mc4wp-form-theme-blue input[type=tel]:focus,.mc4wp-form-theme-blue input[type=url]:focus,.mc4wp-form-theme-blue input[type=date]:focus,.mc4wp-form-theme-blue select:focus,.mc4wp-form-theme-blue textarea:focus{border-color:#7eb0db;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(66,139,202,.15);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(66,139,202,.15);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(66,139,202,.15)}
.mc4wp-form-theme-green button,.mc4wp-form-theme-green input[type=submit]{color:#fff!important;background-color:#5cb85c!important;border-color:#3d8b3d}
.mc4wp-form-theme-green button:active,.mc4wp-form-theme-green button:focus,.mc4wp-form-theme-green button:hover,.mc4wp-form-theme-green input[type=submit]:active,.mc4wp-form-theme-green input[type=submit]:focus,.mc4wp-form-theme-green input[type=submit]:hover{color:#fff!important;background-color:#3d8b3d!important;border-color:#255625}
.mc4wp-form-theme-green input[type=text]:focus,.mc4wp-form-theme-green input[type=email]:focus,.mc4wp-form-theme-green input[type=tel]:focus,.mc4wp-form-theme-green input[type=url]:focus,.mc4wp-form-theme-green input[type=date]:focus,.mc4wp-form-theme-green select:focus,.mc4wp-form-theme-green textarea:focus{border-color:#91cf91;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(92,184,92,.15);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(92,184,92,.15);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(92,184,92,.15)}table.DTFC_Cloned thead,
table.DTFC_Cloned tfoot{background-color:white;}
div.DTFC_Blocker{background-color:white;}
div.DTFC_LeftWrapper table.dataTable,
div.DTFC_RightWrapper table.dataTable{margin-bottom:0;z-index:2;}
div.DTFC_LeftWrapper table.dataTable.no-footer,
div.DTFC_RightWrapper table.dataTable.no-footer{border-bottom:none;}
body.yith-woocompare-popup{font-family:'Open Sans', san-serif;font-size:13px;line-height:1.51em;color:#747373;background:none !important;margin:0;}
body.yith-woocompare-popup h1{background:#4F4F4F;color:#fff;font-weight:800;padding:10px;border-bottom:2px solid #fff;display:block;text-transform:uppercase;font-size:1.076em;margin:0;text-align:center;}
body.yith-woocompare-popup #yith-woocompare{padding:10px;}
table.dataTable.compare-list thead th,
table.dataTable.compare-list thead td,
table.dataTable.compare-list tfoot td,
table.dataTable.compare-list tfoot th{border:0;vertical-align:middle;}
.DTFC_LeftFootWrapper table.compare-list,
.DTFC_LeftHeadWrapper table.compare-list{border:0;}
#yith-woocompare table.compare-list td{width:220px;max-width:220px;min-width:220px;text-align:center;vertical-align:middle;}
#yith-woocompare table.compare-list{width:100%;border-bottom:0;border-top:0;margin:0;table-layout:auto;}
#yith-woocompare table.compare-list tbody th{width:150px;max-width:150px;min-width:150px;overflow:hidden;text-align:left;color:#333333;background-color:#f2f2f2;text-transform:uppercase;font-weight:700;font-size:14px;}
#yith-woocompare table.dataTable.compare-list tbody th,
#yith-woocompare table.dataTable.compare-list tbody td{border-right:1px solid #e7e7e7;border-top:1px solid #e7e7e7;padding:10px;vertical-align:middle;}
#yith-woocompare table.dataTable.compare-list tbody tr:last-child th,
#yith-woocompare table.dataTable.compare-list tbody tr:last-child td{border-bottom:1px solid #e7e7e7;}
#yith-woocompare table.compare-list tbody td.last-column{width:auto;border-right:0;}
#yith-woocompare-table_wrapper{margin:10px 0;}
#yith-woocompare-table_wrapper table thead,
#yith-woocompare-table_wrapper table tfoot{display:none;}
#yith-woocompare table.dataTable.compare-list tbody .product_info td{vertical-align:top;}
.yith_woocompare_table_image{text-align:center;margin-top:20px;}
.yith_woocompare_table_image img{display:inline-block;max-width:100%;}
table.compare-list img{max-width:100%;height:auto;}
table.compare-list  tr.product_info td{vertical-align:top;}
table.compare-list  .remove{margin-bottom:10px;}
table.compare-list  .remove a{text-transform:uppercase;text-decoration:none;}
table.compare-list  .remove a span{padding:0 5px;}
table.compare-list  .image-wrap{margin-bottom:15px;display:inline-block;}
table.compare-list  .product_title{margin-top:0;margin-bottom:5px;font-size:15px;color:#000;text-decoration:none;}
table.compare-list .add_to_cart_wrap{margin-top:10px;}
table.compare-list  .product_info a{text-decoration:none;box-shadow:none;cursor:pointer;}
table.compare-list  .product_info .button,
table.compare-list  .add-to-cart .button,
table.compare-list  .added_to_cart,
#yith-woocompare-related .related-products .button,
a.button.yith_woocompare_clear{margin:0;line-height:1;cursor:pointer;position:relative;text-decoration:none;padding:8px 10px;font-size:13px;text-transform:uppercase;font-weight:700;border-radius:3px;border:0;white-space:nowrap;display:inline-block;outline:none;}
a.button.yith_woocompare_clear{color:#ffffff;background-color:#b2b2b2;padding:6px 8px;font-size:12px;}
a.button.yith_woocompare_clear:hover{color:#ffffff;background-color:#303030;}
div.compare-table-clear{text-align:right;margin:10px 0;}
table.compare-list  .product_info .button.loading,
table.compare-list  .add-to-cart .button.loading{padding-right:30px;}
table.compare-list  tr.stock td.in-stock{background-color:#e8ffb6;color:#01a71c;}
table.compare-list  tr.stock td.out-of-stock{background-color:#fff0e8;color:#ff4200;}
table.compare-list  tr.rating .star-rating{float:none;display:inline-block;vertical-align:middle;}
table.compare-list  tr.price{color:#3e3e3e;font-size:14px;}
table.compare-list  tr.price del{opacity:0.6;}
table.compare-list  tr.price ins{background:none;text-decoration:none;}
#yith-woocompare-share{margin-top:20px}
#yith-woocompare-share h3{margin-top:0;font-size:17px;font-weight:700;margin-bottom:15px;}
#yith-woocompare-share ul{padding:0;list-style:none;margin:0;}
#yith-woocompare-share li{display:inline-block;margin:0 3px;}
#yith-woocompare-share a{background:url(//vgcdn.r.worldssl.net/wp-content/plugins/yith-woocommerce-compare-premium/assets/images/socials.png) no-repeat;text-indent:-99999px;display:block;width:32px;height:32px;box-shadow:none;outline:none;}
#yith-woocompare-share a.facebook{background-position:-5px 5px;}
#yith-woocompare-share a.facebook:hover{background-position:-5px -5px;}
#yith-woocompare-share a.twitter{background-position:-173px 5px;}
#yith-woocompare-share a.twitter:hover{background-position:-173px -5px;}
#yith-woocompare-share a.googleplus{background-position:-47px 5px;}
#yith-woocompare-share a.googleplus:hover{background-position:-47px -5px;}
#yith-woocompare-share a.pinterest{background-position:-131px 5px;}
#yith-woocompare-share a.pinterest:hover{background-position:-131px -5px;}
#yith-woocompare-share a.email{background-position:-89px 5px;}
#yith-woocompare-share a.email:hover{background-position:-89px -5px;}
#yith-woocompare-related{margin:20px 0;}
#yith-woocompare-related h3.yith-woocompare-related-title{font-size:17px;font-weight:700;margin-top:0;margin-bottom:20px;}
#yith-woocompare-related .yith-woocompare-related-wrapper{position:relative;}
#yith-woocompare-related ul{padding:0;list-style:none;margin:0;}
#yith-woocompare-related ul li{text-align:center;}
#yith-woocompare-related ul li a{text-decoration:none;}
#yith-woocompare-related ul li h3{font-size:15px;color:#333;margin-top:0;margin-bottom:10px;}
#yith-woocompare-related ul li .product-price{font-size:13px;color:#333;}
#yith-woocompare-related ul li span.onsale{z-index:2;top:5px;left:5px;}
#yith-woocompare-related ul li div{margin-bottom:10px;}
#yith-woocompare-related ul li div.product-image{position:relative;}
#yith-woocompare-related ul li div.product-image img{height:auto;max-width:100%;}
#yith-woocompare-related ul li div.product-image img.onsale.yit-image{margin:0;position:absolute;top:5px;right:5px;z-index:5;width:auto;}
#yith-woocompare-related .related-slider-nav div{position:absolute;top:-45px;width:30px;height:35px;cursor:pointer;border:1px solid #e7e7e7;text-align:center;background:#ffffff url(//vgcdn.r.worldssl.net/wp-content/plugins/yith-woocommerce-compare-premium/assets/images/nav-arrow.png) no-repeat;cursor:pointer;}
#yith-woocompare-related .related-slider-nav div.related-slider-nav-prev{right:35px;background-position:-1px -30px;}
#yith-woocompare-related .related-slider-nav div.related-slider-nav-next{right:0;background-position:1px 2px;}
#yith-woocompare-cat-nav{margin-top:20px;text-align:center;}
#yith-woocompare-cat-nav h3{margin-top:0;margin-bottom:5px;font-size:17px;font-weight:700;text-align:center;}
#yith-woocompare-cat-nav ul{padding:0;margin:0;list-style:none;}
#yith-woocompare-cat-nav ul li{display:inline-block;margin-right:3px;font-weight:700;font-size:13px;}
#yith-woocompare-cat-nav ul li a{text-decoration:none;}
#yith-woocompare-cat-nav ul li:after{content:',';}
#yith-woocompare-cat-nav ul li:last-child{margin-right:0;}
#yith-woocompare-cat-nav ul li:last-child:after{content:'';}
@media( max-width: 480px ) {
#yith-woocompare table.dataTable.compare-list tbody th{padding:10px 5px;}
#yith-woocompare table.compare-list tbody th{width:60px;max-width:60px;min-width:60px;font-size:10px;}
#yith-woocompare table.compare-list td{width:160px;max-width:160px;min-width:160px;}
} table.compare-list  .container-image-and-badge{position:relative;display:inline-block;}
table.compare-list .bundled_product_list{margin:25px 0;}
table.compare-list div.bundled_product{border-bottom:1px solid #f0f0f0;padding-bottom:10px;margin-bottom:10px;}
table.compare-list .bundled_product:after,
table.compare-list .bundled_product:before{display:table;content:'';clear:both;}
table.compare-list .bundled_product .bundled_product_images{display:inline-block;float:left;}
table.compare-list .bundled_product .bundled_product_images img{max-width:80px;}
table.compare-list .bundled_product .details{display:block;overflow:hidden;padding-left:10px;text-align:left;padding-top:10px;}
table.compare-list .bundled_product .details .bundled_product_title,
table.compare-list .bundled_product .details .price{font-size:90%;}
table.compare-list .bundled_product .details .price{margin-bottom:0;}
table.compare-list .yith-ywraq-add-to-quote {
margin-top: 10px;
}